*{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}

.index-container{
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

.index-container__navbar{
	width: 25%;
	min-width: 200px;
	max-width: 400px;
	height: 100vh;
	position: sticky;
	top: 0;
	bottom: 0;
}

.navbar{
	padding: 2rem; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #293042;
}

.navbar__logo{
	width: 90%;
} 

.navbar__register-button{
	width: 80%;
	height: 2rem;
	position: relative;
	border: none;
	border-radius: 5px;
	background-color: #3F80EA;
	border-color: #3F80EA;
}

.navbar__register-link{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
}

.navbar__register-link:hover{
	background-color: #0A6CFF;
	border-radius: 5px;

}

.navbar__register-link:active{
	background-color: #1E97CA;
}

.content{
	padding: 2rem;
}

.content__title{
	width: 90%;
	margin: auto;
}

.title{
	text-align: center;
}

.title__main-title{
	font-size: 3rem;
	color: #3F80EA;
}

.title__sub-title{
	margin-top: 1rem;
	font-size: 1.3rem;
}

.content__description{
	width: 80%;
	margin: auto;
	margin-top: 2rem;
}

.description{
	display: flex;
}

.card{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__image{
	width: 100px;
	height: 100px;
}

.card__title{
	text-align: center;
	margin-top: 1rem;
}

.card__description{
	text-align: center;
	margin-top: 1rem;
	width: 80%;
}

.register-container{
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("./imagenes/BikeWallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content__form{
	width: 320px;
	margin-top: 2rem;
}

.form{
	border: 1px solid black;
	border-radius: 1rem;
	padding: 3rem 2rem;
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__entry{
	width: 80%;
	margin-top: 2rem;
	
}

.entry{
	display: flex;
	flex-direction: column;
}

.entry__text{
	display: block;
	font-weight: bold;
	color: #293042;
}

.entry__input{
	width: 100%;
	margin-top: .5rem;
	height: 2rem;
	font-size: .9rem;
	color:gray;
	border: none;
	border-bottom: 1px solid #293042;
	outline: none;
	background: whitesmoke
}

.form__button{
	width: 80%;
	margin-top: 2.5rem;
	height: 2rem;
	border: none;
	border-radius: 5px;
	background-color: #3F80EA;
	border-color: #3F80EA;	
	color: white;
}

.form__button:hover{
	background-color: #0A6CFF;
	border-radius: 5px;
	cursor: pointer;
}

.form__button:active{
	background-color: #1E97CA;
}