*{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}

.index-container{
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

.index-container__navbar{
	width: 25%;
	min-width: 200px;
	max-width: 400px;
	height: 100vh;
	position: sticky;
	top: 0;
	bottom: 0;
}

.navbar{
	padding: 2rem; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #293042;
}

.navbar__logo{
	width: 90%;
} 

.navbar__register-button{
	width: 80%;
	height: 2rem;
	position: relative;
	border: none;
	border-radius: 5px;
	background-color: #3F80EA;
	border-color: #3F80EA;
}

.navbar__register-link{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
}

.navbar__register-link:hover{
	background-color: #0A6CFF;
	border-radius: 5px;

}

.navbar__register-link:active{
	background-color: #1E97CA;
}

.content{
	padding: 2rem;
}

.content__title{
	width: 90%;
	margin: auto;
}

.title{
	text-align: center;
}

.title__main-title{
	font-size: 3rem;
}

.title__sub-title{
	margin-top: 1rem;
	font-size: 1.3rem;
}

.content__description{
	width: 80%;
	margin: auto;
	margin-top: 2rem;
}

.description{
	display: flex;
}

.card{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__image{
	width: 100px;
	height: 100px;
}

.card__title{
	text-align: center;
	margin-top: 1rem;
}

.card__description{
	text-align: center;
	margin-top: 1rem;
	width: 80%;
}
form{
    background: whitesmoke;
    width :50%;
    padding:10px 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px white;
    
}
.form{
	padding-bottom: 12px;
	padding-top: 12px;
}
form.group{
    position:relative;
    margin: 40px 40px;

}
form input{
    background: white;
    color:rgb(57, 59, 94);
    font-size: 18px;
    display: block;
    width: 70%;
    align-self: auto;
    border: none;
    border-bottom: 1px solid var(black);
    resize: none;
	

}
body.formulario{
	box-sizing: border-box;
	width: 50%;
    height: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 12px;
	
	
}
#btn_enviar_registro{
	width: 30%;
	
	padding: .6rem 1rem;
	align-content: center;
    border: 1px solid #095399;
    border-radius: 4px;
    background-color: #097891;
    color: #fff;
  
    font-size: 1rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
      0 1px 3px rgba(0,0,0,.2);
    
}